html {
    --primary-color: #f8f0fd;
    --first-color-dark: #1e0849;
    --secondary-color: #8b52ff;
    --third-color: #ff52ae;
    --text-color: #4b3e65;
    --title-color: #220953;
    --gradient-color: linear-gradient(to right, #ff52ae, #8b52ff);
    --text-color-light: #a197b4;
    --first-color-light: #e5d9fd;
    --contrast-color: #ffffff;
    font-size: 16px;
    --primary-font: "Lora", serif;
    --secondary-font: "Poppins", sans-serif;

}

html:has(#checkbox:checked) body,
html:has(#checkbox:checked) section,
html:has(#checkbox:checked) footer {
    background-color: #14092A;
}

html:has(#checkbox:checked) .sub-item a {
    color: #D1C0F1;
}

html:has(#checkbox:checked) #nav-sidemenu li a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

html:has(#checkbox:checked) h2 {
    color: #D1C0F1;
}

html:has(#checkbox:checked) header h2 {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

html:has(#checkbox:checked) p {
    color: #A197B4;
}

html:has(#checkbox:checked) a p {
    color: var(--contrast-color);
}

html:has(#checkbox:checked) .titlebox-1 p,
html:has(#checkbox:checked) #number,
html:has(#checkbox:checked) .titlebox-3 p {
    color: #D1C0F1;
}

html:has(#checkbox:checked) .section6 h2,
html:has(#checkbox:checked) .section6 p {
    color: var(--contrast-color);
}


html:has(#checkbox:checked) #checkbox-label2 {
    background-image: url('./assets/menu-dark.png');
}

/* html:has(#checkbox:checked) .home-star::after {
    background-image: url("./assets/listbox.png");
}

html:has(#checkbox:checked) .home-star {
    opacity: 0;
} */

.darkmode-photo {
    display: none;
}

html:has(#checkbox:checked) .lightmode-photo {
    display: none;
}
html:has(#checkbox:checked) .darkmode-photo {
    display: block;
}

html:has(#checkbox:checked) .heart-box,
html:has(#checkbox:checked) .number-box,
html:has(#checkbox:checked) .text-container{
    background-color: #372A51;
}

html:has(#checkbox:checked) .section3-2 p {
    color: #D1C0F1;
}

html:has(#checkbox:checked) .number-box .number-gradient,
html:has(#checkbox:checked) #number-gradient,
html:has(#checkbox:checked) .img-text,
html:has(#checkbox:checked) .logo {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

