@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  /* Universal*/ 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  --primary-color: #f8f0fd;
  --first-color-dark: #1e0849;
  --secondary-color: #8b52ff;
  --third-color: #ff52ae;
  --text-color: #4b3e65;
  --title-color: #220953;
  --gradient-color: linear-gradient(#ff52ae, #8b52ff);
  --text-color-light: #a197b4;
  --first-color-light: #e5d9fd;
  --contrast-color: #ffffff;
  font-size: 16px;
  --primary-font: "Lora", serif;
  --secondary-font: "Poppins", sans-serif;
}
