@media screen and (min-width: 992px){
    /* Section 4 Desktop Layout */
    .section-title {
        font-size: 4rem;
    }

    .section-text {
        font-size: 1rem;;
    }

    .section-4 {
        flex-direction: row;
        align-items: center;
        min-height: 600px;
    }

    .section-4 .content-container {
        text-align: left;
        align-items: flex-start;
        width: 40%;
    }

    .images-container {
        align-self: flex-start;
        flex-grow: 1;
    }

    .underneath {
        top: 65%;
        right: 0;
    }

    .over {
        text-align: left;
    }

    .right-align {
        left: 350px;
        top: 20%;
    }

    .left-align {
        bottom: 20%;
    }

    .section-4 .text-container {
        font-size: 1rem;
    }

    /* Section 5 Desktop Layout */
    .section-5 {
        grid-template-areas: 
        "img-1 title title img-2"
        "img-1 button button img-2"
        "img-3 img-3 img-4 img-4"
        ;
        gap: 1.5rem;
    }

    .section-5 .section-title span {
        font-size: 4rem;
    }

    .section-5 .section-title {
        align-self: flex-end;
        margin-top: 2rem;
    }

    .section-5 .gradient-button {
        align-self: flex-start;
    }
    
    .section-5 > picture:nth-of-type(2) {
        margin-top: 0;
    }

    /* Section 6 Desktop Layout */
    .section6 {
        width: 80%;
        padding: 3rem 7rem;
        margin: 2.5rem auto;
    }
    
    .section6 h2 {
        font-size: 3.5rem;
    }
    
    .section6 > div {
        position: relative;
    }

    #email-input {
        padding: 1.5rem;
        padding-right: 12rem;
    }

    #subscribe {
        position: absolute;
        width: fit-content;
        top: calc((67.2px - 54.4px) / 2);
        right: 2%;
        padding: 0.75rem;
        margin: 0;
        border: none;
    }

    /* Footer Desktop Layout */
    footer {
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        "logo address contact office"
        "text address contact office"
        "line line line line"
        "media media copyright copyright"
        ;
        padding: 5rem;
    }

    footer .logo {
        grid-area: logo;
    }

    .footer-title {
        font-size: 1.5rem;
    }
    
    .footer-text {
        font-size: 1rem;
    }

    .text-small {
        width: 65%;
    }

    footer .address-container {
        grid-area: address;
    }

    footer .contact-container {
        grid-area: contact;
    }

    footer .office-container {
        grid-area: office;
    }

    .footer-nav {
        grid-area: media;
        justify-self: flex-start;
        align-self: center;
    }

    footer > p.footer-text:nth-child(1){
        grid-area: text;
    }

    footer hr {
        grid-area: line;
    }

    .copyright {
        grid-area: copyright;
        align-self: center;
        justify-self: flex-end;
        text-wrap: nowrap;
    }
    
}