@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Universal*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  --primary-color: #f8f0fd;
  --first-color-dark: #1e0849;
  --secondary-color: #8b52ff;
  --third-color: #ff52ae;
  --text-color: #4b3e65;
  --title-color: #220953;
  --gradient-color: linear-gradient(#ff52ae, #8b52ff);
  --text-color-light: #a197b4;
  --first-color-light: #e5d9fd;
  --contrast-color: #ffffff;
  font-size: 16px;
  --primary-font: "Lora", serif;
  --secondary-font: "Poppins", sans-serif;
}

.section1 {
  background-color: var(--primary-color);
  padding: 3rem 1.5rem;
  text-align: center;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 957px;
}

.titlebox-1 {
  font-size: 3rem;
  font-family: var(--primary-font);
  position: relative;
  color: var(--title-color);
}

.home-star {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}

.yoga1 {
  background: var(--gradient-color);
  color: var(--primary-color);
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  transform: rotate(13deg);
}

.textbox-1 {
  font-size: 1rem;
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: var(--secondary-font);
  position: relative;
}

.circle {
  position: absolute;
  right: 5rem;
  bottom: -0.8rem;
}

.button-1 p,
.button-3 p {
  color: var(--contrast-color);
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-family: var(--secondary-font);
  background: var(--gradient-color);
  display: inline-block;
}

.class-sorts {
  display: flex;
  justify-content: space-around;
  font-family: var(--secondary-font);
}

.first-sentence {
  font-size: 2.2rem;
  font-family: var(--primary-font);
}
.section2 {
  min-height: 479px;
  background-color: var(--primary-color);
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    "number stretch stretch stretch"
    "explain explain explain explain"
    "next-button next-button next-button next-button";
  padding: 2rem 1rem;
  row-gap: 2rem;
  column-gap: 2rem;
}

/* Grid Areas for Items(elements) */
#number {
  grid-area: number;
  font-size: 2rem;
  font-family: var(--primary-font);
  align-self: center;
  color: var(--title-color);
  justify-self: center;
}

#stretch {
  grid-area: stretch;
  justify-self: center;
}

#explain {
  grid-area: explain;
  text-align: center;
  font-size: 1rem;
  font-family: var(--secondary-font);
  color: var(--text-color);
  position: relative;
}

.list-star {
  position: absolute;
  left: 0.3rem;
  top: -2rem;
}

#next-button {
  grid-area: next-button;
  justify-self: center;
}

.section3 {
  background-color: var(--primary-color);
  padding: 3rem 1.5rem;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 762px;
  justify-content: space-between;
}

.titlebox-3 p {
  font-size: 2rem;
  font-family: var(--primary-font);
  color: var(--title-color);
  text-align: center;
}

.textbox-3 {
  font-size: 0.9rem;
  font-family: var(--secondary-font);
  color: var(--text-color);
  text-align: center;
}

.section3-2 {
  position: relative;
}

.heart-box {
  position: absolute;
  top: 4rem;
  left: -0.5rem;
}

.number-box {
  position: absolute;
  bottom: 0.7rem;
  right: -0.5rem;
}

.heart-box,
.number-box {
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: var(--contrast-color);
  font-family: var(--secondary-font);
  color: var(--title-color);
  padding: 0.3rem;
}

.heart-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5rem;
}

#heart-icon {
  place-self: center;
}

.number-gradient,
#number-gradient {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
